* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer-color: #02021d;
  --footer-font-color: #ffffff;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

header {
  width: 100%;
  height: 15%;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.banner-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  background-color: rgb(7, 8, 14);
  width: 100%;
  height: 40%;
}

.navigation-bar h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 75%;
}

.logo-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 25%;
  height: 100%;
}

.logo-anchor-container {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #02021D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-circle {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 12%;
  height: 12%;
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.circle-1 {
  background-color: black;
  z-index: 3;
  transform: translate(10px);
}

.circle-2 {
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

.circle-3 {
  transform: translateX(-10px);
  z-index: 1;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.menu-list li {
  list-style-type: none;
}

.menu-list li:not(:last-child) a {
  text-decoration: none;
  color: black;
}

.menu-list li:last-child {
  padding: 5px;
  border: 1px solid #81d376;
  border-radius: 10px;
}

.menu-list li:last-child a {
  width: 100%;
  height: 100%;
  color: #81d376;
  text-decoration: none;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 100%;
}

.login-icon {
  width: 25%;
  height: 100%;
}

.login-icon-anchor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.icon-head {
  width: 7px;
  height: 7px;
  border: 1px solid black;
  border-radius: 50%;
}

.icon-body {
  width: 13px;
  height: 7px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 4px 4px 0 0;
}

.shopping-icon {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-icon-square {
  width: 13px;
  height: 13px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.shopping-icon-handstand {
  width: 6px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid black;
  border-top: 0;
}

.shopping-icon-head {
  width: 13px;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 1px solid rgb(29, 2, 2);
  border-top: 0;
  border-top-width: 0;
  border-top-color: transparent;
  border-bottom-color: rgb(15, 5, 5);
  border-bottom-width: 3px;
}

.shopping-icon-head-inside-color {
  width: 11px;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 5px solid rgb(29, 2, 2);
  border-top: 0;
  border-top-width: 0;
  border-top-color: transparent;
  border-bottom-color: rgb(254, 254, 254);
  border-bottom-width: 2px;
  transform: translateX(-2px);
  padding-top: 1px;
}

.sign-in-page {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: none;
}

.sign-in-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* flex-shrink: 0; */
}

.form-title {
  font-family: Noto Serif Lao;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 50px;
}

.form-container {
  width: 100%;
  height: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2%;
}

.password-container,
.mail-container {
  position: relative;
}

.form .label {
  position: absolute;
  top: -7px;
  left: 7px;
  width: fit-content;
  padding: 0 6px;
  background-color: #ffffff;
  font-size: 0.8rem;
}

.mail,
.password {
  width: 100%;
  height: 30px;
  color: rgb(216, 216, 216);
  border-radius: 40px;
  border: 1px solid rgb(216, 216, 216);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #02021d;
  border-radius: 40px;
  border: none;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.if-new-user {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  gap: 3%;
}

.if-new-user h4 {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #02021d;
}

.if-new-user a {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #02021d;
  text-decoration: underline;
}

.verify-paragraph {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.verify-paragraph span {
  color: #81d376;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.verify-input {
  width: 40%;
  height: 40px;
  border-radius: 15px;
  border: none;
  border: 1px solid #e3e5ed;
  padding-left: 7px;
}

.verify-button {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #02021d;
  color: rgb(231, 231, 231);
}

.edit-mail {
  font-size: 16px;
  line-height: 22px;
  color: #02021d;
}

.placed-orders-container {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;

}

.placed-orders-container label, .placed-orders-container select {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.placed-orders-container select {
  height: 100%;
  width: 130px;
  border: none;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
  padding: 0 5px;
}

.orders-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.order-button {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 20px;
  border: 1px solid #E3E5ED;
  background-color: hsla(0, 0%, 100%, 0);
  color: #02021D;
}

footer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--footer-color);
  color: var(--footer-font-color);
  padding: 5% 10%;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
}

footer div h3 {
  padding-bottom: 20px;
  font-family: Rubik;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 10%;
  height: fit-content;
}

footer div a {
  color: var(--footer-font-color);
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  flex-shrink: 3;
  height: 100%;
}

.footer-logo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.footer-logo-circle {
  width: 50px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.footer-circle-1 {
  border: 1px solid white;
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  z-index: 4;
}

.footer-circle-2 {
  border: 1px solid white;
  height: 25px;
  width: 25px;
  transform: translateX(-18px);
  background-color: var(--footer-color);
  z-index: 3;
}

.footer-circle-3 {
  border: 1px solid white;
  transform: translateX(-36px);
  height: 25px;
  width: 25px;
  background-color: var(--footer-color);
  z-index: 2;
}

.footer-logo-name {
  height: 30px;
}

.footer-updates {
  width: 20%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.update-mail {
  height: 30px;
  width: 100%;
  background-color: var(--footer-color);
  border: none;
  border: 1px solid var(--footer-font-color);
  border-radius: 30px;
  color: var(--footer-font-color);
  padding: 10% 10%;
}

.update-mail::placeholder {
  text-align: center;
  color: var(--footer-font-color);
  font-size: 0.65rem;
}

@media only screen and (max-height: 800px) {
  body {
    height: 900px;
  }

  .sign-in-page {
    height: 50%;
  }
}

.hide{
  display: none;
  width: 0;
  height: 0;
}
